[submodule "paper_plane_x_backend"]
	path = paper_plane_x_backend
	url = https://github.com/WindLX/paper_plane_x_backend.git

[submodule "paper_plane_x_frontend"]
	path = paper_plane_x_frontend
	url = https://github.com/WindLX/paper_plane_x_frontend.git

[submodule "paper_plane_x_zotero"]
	path = paper_plane_x_zotero
	url = https://github.com/WindLX/paper_plane_x_zotero.git

[submodule "paper_plane_x_cli"]
	path = paper_plane_x_cli
	url = https://github.com/WindLX/paper_plane_x_cli.git
